@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ################## utility classes ------------ */

.container {
  /* border: blue  2px solid; */
  width: 75%;
  max-width: 1200px;
  margin: auto;
}

.btn {
  padding: 1rem 3rem;
  /* font-weight: 200; */
  border-radius: 4rem;
  display: inline-block;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  text-decoration: none;
}

/* ################## nav-bar styling ------------ */

/* for desktop mode */

.nav-bar input[type='checkbox'],
.nav-bar .hamburger-lines{
  display: none;
}

.nav-bar{
  box-shadow: 0 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background-color: #fff;
  color: #000;
  opacity: 0.85;
  z-index: 999;

}

.nav-container{
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
}

.menu-items{
  order: 2;
  display: flex;
}

.menu-items li{
  list-style: none;
  margin: 1.2rem;
  font-size: 1.3rem;
}

.logo{
  order: 1;
  font-size: 2.1rem;
}

.nav-bar a{
  color:#444;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.nav-bar a:hover{
  color:#117964;
}


/* ############# showcase ------------ */

.section-area {
  /* border: slateblue 4px solid; */
  display: flex;
  flex-direction: column;
  /* height: 37rem; */
  height: 57vh;
  align-items: center;
  justify-content: center;
  background: url(./img/header-image2.jpg) center center/cover;
  background-repeat: no-repeat;
}

.showcase-container {
  /* border:teal 3px solid ; */
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main-title {
  /* border: tomato 2px solid; */
  text-transform: uppercase;
  /* margin-bottom: 0.5rem; */
  font-size: 1.7rem;
}

.section-area p {
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.section-area .btn-primary {
  color: whitesmoke;
  font-size: small;
  background: #16a083;
}

/* ----------- about us ################ */

#about {
  /* border: blue 2px solid; */
  display: flex;
  justify-content: center;
  background-color: #f5f5f7;
  align-items: center;
}

.about-wrapper {
  margin: 5rem auto;
  display: flex;
  width: 65%;
  justify-content: space-around;
  flex-wrap: wrap;
  /* border: darkmagenta 2px solid; */
}

.about-txt {
  /* border: springgreen 2px solid; */
  flex: 1 1 400px; /* grow shrink basis*/
  margin: auto;
  transform: translateX(-150rem);
  animation: txt-animation 1s ease-in-out forwards;
}

@keyframes txt-animation {
  100% {
    transform: translateX(0rem);
  }
}

.about-img {
  padding: 1rem;
  flex: 1 1 400px; /* grow shrink basis*/
  /* border: 2px solid red; */
  transform: translateX(150rem);
  animation: img-animation 1s ease-in-out forwards;
}

@keyframes img-animation {
  100% {
    transform: translateX(0rem);
  }
}

.about-img img {
  width: 100%;
  object-fit: cover;
  object-position: right;
}

.about-txt p:first-child {
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
}

.about-txt h2 {
  font-size: 2.3rem;
  font-weight: 700;
  padding-bottom: 0.2rem;
}

.about-txt p {
  font-size: 1.4rem;
  font-weight: 400;
}

/* ############# types of food ############# */

#food {
  /* border: burlywood 3px solid; */
  text-align: center;
}

.food-container {
  /* border: springgreen 5px solid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#food img {
  /* border: blue 2px solid; */
  width: 100%;
}

.food-type .data {
  /* border: 5px solid tomato; */
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
  z-index: 2;
  opacity: 0;
  text-align: center;
}

.food-type {
  /* border: #117964 2px solid; */
  width: 300px;
  height: auto;
  position: relative;
  margin: 1rem 2rem;
}

/* .fruits{
    border: steelblue 2px solid;
}

.vagetable{
    border: black 2px solid;
}

.grain{
    border: 2px solid darkgreen;
} */

.btn1 {
  /* border: darkmagenta 2px solid; */
  color: white;
}

#food {
  margin: 3rem auto;
}

#food h2:first-child {
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 2.2rem;
  color: #555;
}

#food .food-container h2 {
  color: white;
  margin-bottom: 1rem;
}

.food-type::after {
  content: "";
  /* border: white 2px solid; */
  background-color: rgba(0, 0, 0, 0.671);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.food-type:hover .data {
  opacity: 1;
  left: 50%;
}

.food-type:hover:after {
  opacity: 1;
}

.btn1 {
  background-color: #16a083;
  color: white;
  /* border: violet 2px solid; */
  padding: 0.5rem 1.3rem;
  border-radius: 2rem;
}

.food-type .data a {
  color: whitesmoke;
}

/* ############### food menu ------------ */

/* 
#food-menu {
  border: 3px brown solid;
} */

#food-menu h2 {
  /* border: steelblue 2px solid; */
  text-align: center;
}

.food-menu-container {
  display: flex;
  flex-wrap: wrap;
  /* border: teal 3px solid; */
  /* width: 97rem; */
  margin: 2rem auto;
  align-items: center;
  /* padding: 0 19rem; */
  /* justify-content: space-between; */
}

.food-menu-container .food-menu-items {
  display: flex;
  /* border: red solid 2px; */
  /* max-width: 900px; */
  /* min-width: 433px; */
  width: 480px;
  /* height: 200px; */
  margin: 2rem auto;
}

.food-menu-container .food-menu-data {
  /* border: black solid 2px; */
  width: 48%;
  margin: auto;
}

.food-menu-container .f-m-img {
  /* border: darkmagenta 2px solid; */
  /* border-radius: 50%; */
  width: 50%;
  height: 200px;
  /* margin: 0 3rem; */
  margin: 2rem 0;
}

.food-menu-container img {
  /* border: darkmagenta 3px solid; */

  display: block;
  width: 200px;
  height: 200px;
  /* width: 100%; */
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

#food-menu h2:first-child {
  text-transform: uppercase;
  margin-bottom: 3rem;
  font-weight: 500;
  font-size: 2.2rem;
  color: #555;
}

.food-menu-container .food-menu-data span {
  font-size: 1.1rem;
  color: green;
  font-weight: 600;
}

.food-menu-container .food-menu-data p {
  font-size: 1.1rem;
  color: #555;
  font-weight: 400;
}

.food-menu-container .food-menu-data h3 {
  font-size: 1.5rem;
  color: #555;
  font-weight: 500;
}

/* ######### testimonial styling ############ */

#testimonial {
  background-color: #f5f5f7;
  padding: 3rem;
}

#testimonial h2 {
  text-align: center;
  /* margin: 2rem auto; */
  text-transform: capitalize;
  font-weight: 400;
  font-size: 2.2rem;
  color: #555;
}

.testimonial-container p {
  text-align: center;
}
.testimonial-container {
  /* border: rgb(1, 8, 5) 4px solid; */
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* padding: 6rem 1rem 6rem 1rem; */
}

.t-box {
  /* border: #117964 2px solid; */
  width: 250px;
  margin-bottom: 0.8rem;
}

.testimonial-container .t-img img {
  /* border: steelblue 2px solid; */
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  display: block; /* ager yha per img ko block me covert nhi karenge to center me nhi hoga  */
  margin: auto;
  /* margin-left: 8rem; */
}

.testimonial-container .t-name {
  font-size: small;
  font-weight: 400;
  color: grey;
}

.testimonial-container p {
  font-size: x-small;
}

.testimonial-container .t-star {
  text-align: center;
  color: rgb(255, 153, 0);
}

.testimonial-container .t-star {
  margin-bottom: 1rem;
}

.testimonial-container .t-data {
  margin-bottom: 0.7rem;
}

/* ############ about us ############# */

#contect{
  padding: 5rem 0rem;
  background-color: rgb(226, 226, 226);

}

.contect-container{
  background-color: white;
  display: flex;
}

.contect-img{
  width: 50%;
}

.contect-img img{
  width: 100%;
  height: 100%;
  display: block;
  object-position: center;
  object-fit: cover;
}

.form-container{
  padding: 1rem;
  width: 50%;
  margin: auto;
}

.form-container input , .form-container textarea{
  border: none;
  border-bottom: 2px solid #ddd;
  display: block;
  width: 100%;
  outline: none;
  box-shadow: none;
  margin-bottom: 1rem;
  color: #444;
  font-weight:500;
  padding: 1rem 0;
}

.form-container h2{
  font-size: 2rem;
  font-weight: 400;
  color:#444;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.form-container a{
  font-size: 1rem;
}

#contect .form-container .form-btn{
  background-color: #16a083;
  color: white;
}

/* ##### footer ##### */

.footer h2{
  text-transform: capitalize;
  text-align: center;
  padding: 2rem 0;
  color: whitesmoke;
  background-color: rgb(65,65,65);
  font-weight: 500;

}

/* ##### media queries ##### */

@media(max-width:600px)
{
  .nav-bar{
    opacity: 0.9;
  }
  .nav-container input[type='checkbox'],
  .nav-container .hamburger-menu{
    display: block;
  }

  .nav-container{
    display: flex;
    position: relative;
    height: 50px;
  }
  .nav-container input[type='checkbox']{
    position: absolute;
    display: block;
    height: 32px;
    width: 40px;
    top: 5px;
    left: 20px;
    z-index: 5;
    opacity: 0;
  }

  .nav-container .hamburger-lines{
    display: block;
    height: 32px;
    width: 40px;
    position: absolute;
    top:7px ;
    left: 20px ;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line{

    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #333;
  }

  
  
  .nav-container .hamburger-lines .line1{

    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line2{

    transition: transform 0.4s ease-in-out;
  }
  .nav-container .hamburger-lines .line3{

    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  

  .nav-bar .menu-items{
    padding-top: 475px;
    padding-bottom: 50px;
    background: #fff;
    height: 100vh;
    max-width: 300px;
    transform: translateX(-150%);
    flex-direction: column;
    margin-left: -40px;
    padding-left:40px ;
    transition: transform 0.5s ease-in-out;
    box-shadow: 5px 0px 10px 0px #aaa;
  }

  .nav-bar .menu-items li{
    margin-bottom :1rem; 
    font-size: 2rem;
    font-weight: 500;

  }

  .logo{
    position: absolute;
    top: 1px;
    right: 15px;
    font-size: 3rem;

  }

  .nav-container input[type='checkbox']:checked ~ .menu-items{
    transform: translateX(0);
  }

  .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line1{
    transform: rotate(45deg);
  }
  .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line2{
    transform: scaleY(0);
  }
  .nav-container input[type='checkbox']:checked ~ .hamburger-lines .line3{
    transform: rotate(-48deg);
  }


  .food-menu-container .food-menu-items {
    display: flex;
    flex-direction: column;
    width: 480px;
    margin: 2rem auto;
  }
  .food-menu-container .f-m-img {
    width: 50%;
    height: 200px;
    margin: 2rem auto;
  }





}







